# Python caches
**__pycache__**

# Dependency output
/dependencies
/dlls

# Build Output
/build
/temp
/deploy

# Makefile
**/Makefile

# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

# Dependencie graph output
/dependencies_*.html

# Conan
/conan.lock
/conanbuildinfo.*
/conaninfo.txt
/.conan/
/conan_imports/
/conan_build/
/conan_export/

# Bazel
/bazel-*
/bazel-bin/
/bazel-genfiles/
/bazel-out/
/bazel-testlogs/
/bazel-workspace/
